ul li::marker {
  color: red;
  font-size: 1.5em;
}
body {
    background-color: #f8f9fa;
  }
  .container {
    max-width: 400px;
    margin: 50px auto;
    margin-top: 5%;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 5px 10px 20px gray;
  }
  .form-group label {
    font-weight: bold;
  }
  .form-group input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #f7f7f7;
    transition: background-color 0.3s ease-in-out;
  }
  .form-group input:focus {
    background-color: #e9ecef;
    outline: 0;
  }
  .btn-primary {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #007bff;
  }
  .btn-primary:hover {
    background-color: #0069d9;
  }
  .btn-primary:focus {
    box-shadow: none;
  }