{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'home' %}">Home</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown" style="margin-right: 4%;">
            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'chat' %}">Group Chat</a>
              </li>
                {% endif %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'contact' %}">Contact us</a>
              </li>
            </ul>
            {% if user.is_authenticated %}
            <ul class="navbar-nav"> <!-- Added a new unordered list for dropdown menu -->
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  {{user.username}}
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="{% url 'editprofile' %}">Edit Profile</a></li>
                  <li><a class="dropdown-item" href="{% url 'profile' %}">View Profile</a></li>
                  <li><a class="dropdown-item" href="{% url 'logoutpage' %}">LogOut</a></li>
                {% else %}
                    <a href="{% url 'signup' %}"><button class="btn btn-primary" >SignUp</button></a>
                    <a href="{% url 'login' %}"><button class="btn btn-secondary" >LogIn</button></a>
                </ul>
              </li>
            </ul>
            {% endif %}
          </div>
        </div>
      </nav>

      {% block content %}
      <link rel="stylesheet" href="{% static 'css/home.css' %}">
      <center>
      <div class="card text-center" id="main">
        <div class="card-header">
          Featured
        </div>
        <div class="card-body">
          <h5 class="card-title">Anonymous Chatting Website</h5>
          <p class="card-text">In this Website you can chat with people anonymously and can make friends</p>
          <img src="{% static 'images/chatting.jfif' %}" alt="it's your problem">
          <br>
          <a href="{% url 'chat' %}" class="btn btn-primary">Start Messaging</a>
        </div>
        <div class="card-footer text-muted">
          2 days ago
        </div>
      </div>
      </center>
      {% endblock content %}


</body>
</html>
