{% extends 'home.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %}
    <link rel="stylesheet" href="{% static 'css/registration.css' %}">
    <div class="container">
        <center><h2>Log In</h2></center>
        <form method="post">
            <i style="font-size: 15px;"><a href="{% url 'home' %}" style="color: black;"><img src="https://www.svgrepo.com/show/326885/arrow-back-circle-sharp.svg" style="height: 30px; width: 30px;">back</a></i>
            {% csrf_token %}
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" name="username" maxlength="20" autofocus required id="id_username">
            </div>
            <div class="form-group">
                <label for="password">Confirm Password:</label>
                <input type="password" name="password" autocomplete="new-password" required id="id_password">
                <ul>
                    {% for error in form.non_field_errors  %}
                        <li class="text-danger">Username or password is incorrect</li>
                    {% endfor %}
                </ul>
                <p style="font-size: 14px;">Have you forgotten your password?<a href="{% url 'password_reset' %}"> Reset it using email</a></p>
                <button type="submit" class="btn btn-primary" style="border-radius: 20px; margin-top: 10px;">LogIn</button>
            </div>
      </form>
    </div>
    {% endblock content %}
</body>
</html>