{% extends 'home.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    {% block content %}
    <link rel="stylesheet" href="{% static 'css/registration.css' %}">
    <div class="container">
        <h2 style="text-align: center;">Reset your password</h2>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
              <input type="email" name="email" placeholder="write here your e-mail..." autocomplete="email" maxlength="254" required id="id_email">
              <p class="text-danger" style="margin-top: 5%;">We will send you a message!</p>
            </div>
            <button type="submit" class="btn btn-primary">Send message</button>
        </form>
    </div>
    {% endblock content %}
</body>
</html>